#
#       Enable this with: crontab -e
#       View commands in place with: crontab -l
#
#       Use "> /dev/null 2> /dev/null" after the command to surpress getting mail of what happened (non-ROOT users only).
#       Use "2>&1 | /usr/bin/mailx -s BACKUP XXX" to mail to someone special
#       Capture all output with "cmd > file 2>&1"
#
#   Special hack for Tom
10   10   31   7     *    /net/topmed/working/home/topmed/dumpdata.sh /net/topmed/working/home/topmed/special.case.for.tom.july31.csv
#
# Monday 1, Tuesday 2, Wednesday 3, Thursday 4, Friday 5, Saturday 6, Sunday 7
#MIN HR  DAY MON  DAYOFWEEK     COMMAND
#    Get some stats on I/O load on this machine
#*/4  *     *   *     *    iostat -y -m -z -c -d 30 1 -p md20,md21 > /net/topmed/working/topmed-output/iostat.topmed.txt
#    Check that backup directories have been created
10   07    7   *     *    export PROJECT=topmed; /usr/cluster/topmed/bin/utils/topmedoffsitebackup.pl check | mail -s Offsite_backups michigancsg@umich.edu
#    Create a tar file of symlinks to runs
04   04    7   *     *   /home/topmed/backup-tree.sh | mail -s Backup_tree michigancsg@umich.edu
#    Create web page sumary of status
05   07    *   *     *    (cd /net/topmed/working/topmed-output/qc-report; perl /net/topmed/working/hmkang/scripts/topmed-make-qc-reports.pl 2>&1 | mail -s topmed-make-qc-reports hmkang@umich.edu; rm -rf /net/topmed/working/topmed-output/gc-report)
#    Remove old files
11   08    7   *     *    find /working/topmed-output -maxdepth 1 -mtime +10 -print -exec rm -f {} \; > /working/topmed-output/cronrm.log
22   08    7   *     *    find /working/topmed-output/XMLfiles -mtime +14 -print -exec rm -f {} \; > /working/topmed-output/cronrm.log
10   1     1   *     *    for f in /working/topmed-output/topmed_*.log; do mv $f $f.prev 2>/dev/null; done
#    Backup important things
00   04   01,08,15,22  *  * $HOME/backupmysql.sh inpsyght $HOME/BACKUPS/MYSQLBAK
00   05   01,08,15,22  *  * $HOME/backupmysql.sh $LOGNAME $HOME/BACKUPS/MYSQLBAK
12   03   *  *    1       $HOME/backupmysql.sh $LOGNAME $HOME/BACKUPS/MYSQLBAK Mon
12   07   *  *    2       $HOME/backupmysql.sh $LOGNAME $HOME/BACKUPS/MYSQLBAK Tue
12   03   *  *    3       $HOME/backupmysql.sh $LOGNAME $HOME/BACKUPS/MYSQLBAK Wed
12   03   *  *    4       $HOME/backupmysql.sh $LOGNAME $HOME/BACKUPS/MYSQLBAK Thur
12   03   *  *    5       $HOME/backupmysql.sh $LOGNAME $HOME/BACKUPS/MYSQLBAK Fri
12   03   *  *    6       $HOME/backupmysql.sh $LOGNAME $HOME/BACKUPS/MYSQLBAK Sat
12   03   *  *    7       $HOME/backupmysql.sh $LOGNAME $HOME/BACKUPS/MYSQLBAK Sun
30   05   02,09,16,23  *  * $HOME/backup2gce.sh /net/topmed/working/home/topmed/BACKUPS/MYSQLBAK /home/inpsyght/BACKUPS/MYSQLBAK
#    Verify NFS mounts are still working
00   1     *   *     *    /usr/cluster/topmed/bin/topmedcheck.pl -p topmed -nfs
#    Submit jobs regularlty
02     */4  *   *     *    /usr/cluster/topmed/bin/topmed_init.pl    -project topmed updatedb >> /working/topmed-output/topmed_init.log 2>&1
04     *    *   *     *    /usr/cluster/topmed/bin/topmed_monitor.pl -project topmed arrive >> /working/topmed-output/topmed_arrive.log 2>&1
*/6    *    *   *     *    /usr/cluster/topmed/bin/topmed_monitor.pl -project topmed verify >> /working/topmed-output/topmed_verify.log 2>&1
*/5    *    *   *     *    /usr/cluster/topmed/bin/topmed_monitor.pl -project topmed cram >> /working/topmed-output/topmed_cram.log 2>&1
*/10   *    *   *     *    /usr/cluster/topmed/bin/topmed_monitor.pl -project topmed backup >> /working/topmed-output/topmed_backup.log 2>&1
*/15   *    *   *     *    /usr/cluster/topmed/bin/topmed_monitor.pl -project topmed qplot bcf >> /working/topmed-output/topmed_qplotbcf.log 2>&1
*/10   *    *   *     *    /usr/cluster/topmed/bin/topmed_monitor.pl -project topmed gcepush  gcepull >> /working/topmed-output/topmed_gce.log 2>&1
*/10   *    *   *     *    /usr/cluster/topmed/bin/topmed_monitor.pl -project topmed gcecopy gcecpbcf gcecleanup >> /working/topmed-output/topmed_gce.log 2>&1
#*/10   *    *   *     *    /usr/cluster/topmed/bin/topmed_monitor.pl -project topmed awscopy >> /working/topmed-output/topmed_aws.log 2>&1
#
15    5,17 *   *     *     /usr/cluster/topmed/bin/topmed_gcecheck.pl -project topmed mark >> /working/topmed-output/topmed_status.log 2>&1
#   Update status fields so the monitor will show colored states
20     *   *   *     *     /usr/cluster/topmed/bin/topmed_status.pl -project topmed runstatus >> /working/topmed-output/topmed_status.log 2>&1
#
#  Gather stats for today
04    5    *   *     *    export PROJECT=topmed; /usr/cluster/topmed/bin/topmed_updatestats.sh >> /working/topmed-output/topmed_ncbi.log 2>&1
#  Look for jobs that have failed but were undetected
20    7    *   *     *    /usr/cluster/topmed/bin/topmed_failures.pl -project topmed -fail -requeue show >> /working/topmed-output/topmed_failures.log 2>&1
#
